.announcements {
  grid-column: span 2;
}

@media screen and (max-width: 900px) {
  .announcements {
    grid-column: 1 / -1;
  }
}
@media screen and (max-width: 600px) {
  .announcements {
    grid-column: 1 / -1;
  }
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  width: calc(100% - 2rem);
  outline: none;
  padding: 20px;
  text-align: center;
}