.links {
  grid-column: 1 / -1;
  max-height: 500px;
  overflow-y: scroll;
}

.linksgrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

@media screen and (max-width: 900px) {
  .linksgrid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 600px) {
  .linksgrid {
    grid-template-columns: repeat(1, 1fr);
  }
}
