.notes {
  grid-column: 1/ -1;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  width: calc(100% - 2rem);
  outline: none;
  padding: 20px;
  text-align: center;
}

.checkbox {
  margin-left: auto;
}

.notegrid {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
@media screen and (max-width: 900px) {
  .notegrid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 600px) {
  .notegrid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.notecard {
  position: relative;
}
.notecardactions {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}