@font-face {
  font-family: "Inter";
  src: url("/static/fonts/Inter.ttf");
}

:root {
  --blue-1: #c5cae9;
  --blue-2: #7986cb;
  --blue-3: #3f51b5;
  --blue-4: #303f9f;
  --blue-5: #1a237e;
  --error: #d32f2f;
}

html, body {
  padding: 0;
  margin: 0;
}

* {
  font-family: "Inter", Helvetica, sans-serif;
  box-sizing: border-box;
}

.shadow {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.buffer-10 {
  height: 10px;
}
.buffer-15 {
  height: 15px;
}
.buffer-20 {
  height: 20px;
}
.buffer-30 {
  height: 30px;
}
.buffer-40 {
  height: 40px;
}
.buffer-50 {
  height: 50px;
}
.inlinebuffer-5 {
  margin-left: 5px;
}
.inlinebuffer-10 {
  margin-left: 10px;
}
.inlinebuffer-15 {
  margin-left: 15px;
}
.inlinebuffer-20 {
  margin-left: 20px;
}
.inlinebuffer-25 {
  margin-left: 25px;
}

.rounded {
  border-radius: 4px;
}

.container {
  padding: 3%;
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  font-size: 2rem;
  font-weight: bold;
}
.subtitle {
  font-size: 1.5rem;
  font-weight: bold;
}

.error {
  color: red;
}

.chip {
  display: inline-block;
  padding: 0 5px;
  font-size: 0.9rem;
  border-radius: 25px;
  background-color: var(--blue-3);
  color: white;
  font-weight: bold;
}
.chip[data-status="error"] {
  background-color: var(--error);
}
.chip[data-status="primary"] {
  background-color: var(--blue-3);
}